services:
  server:
    image: harbor-itdm.dahuatech.com/llms/domestic-analysis-report:prod-1.3.5-1218
    command: uvicorn app:app --host 0.0.0.0 --port 80 --workers 4
    environment:
      - APP_ENVIRONMENT=prod
      - APP_MODEL=qwen3-32b
      - APP_LOG_LEVEL=info
      - APP_MODEL_CONCURRENT=8
    deploy:
      replicas: 2
      placement:
        constraints: [node.role == manager]
      restart_policy:
        condition: any
        delay: 30s
    healthcheck:
      test: "curl --fail --request GET 'localhost:80' || exit 1"
      interval: 20s
      timeout: 10s
      retries: 3
      start_period: 10s
  proxy:
    image: harbor-itdm.dahuatech.com/base/nginx:1.22-alpine
    ports:
      - target: 80
        published: 12060
        mode: host
    deploy:
      replicas: 1
      placement:
        constraints: [ node.role == manager ]
    command: |
      /bin/sh -c "echo '
      user nobody nogroup;
      worker_processes auto;
      events {
        worker_connections 1024;
      }
      http {
        server_names_hash_bucket_size 64;
        client_max_body_size 500m;
        keepalive_timeout  120s 120s;
        keepalive_requests 10000;
        proxy_send_timeout 120; 
        proxy_read_timeout 120; 
        proxy_buffer_size 128k;
        proxy_buffers   32 128k;
        proxy_busy_buffers_size 128k;
        resolver 127.0.0.11 valid=10s ipv6=off;
        resolver_timeout 5s;
        server {
          listen *:80;
          location / {
            set $$backend \"server:80\";
            proxy_pass http://$$backend;
            proxy_set_header Connection keep-alive;
            proxy_set_header  Host $$http_host;
            proxy_set_header  X-Real-IP $$remote_addr;
            proxy_set_header  X-Forwarded-For $$proxy_add_x_forwarded_for;
            proxy_buffering off;
            add_header X-Accel-Buffering \"no\";
            proxy_connect_timeout 600;
            proxy_send_timeout 600;
            proxy_read_timeout 600;
            send_timeout 600;
            proxy_http_version 1.1; 
            proxy_set_header Connection \"\";
          }
        }
      }' | tee /etc/nginx/nginx.conf && nginx -t && nginx -g 'daemon off;'"